<li>
	{{burger_name}}

	<button class="eatBurger btn btn-success btn-sm change-devour" data-id="{{id}}" data-newDevoured="{{devoured}}">
		Devour It </button>

	<button class="delete-burger btn btn-success btn-sm delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>